.navbar-default{
  background: none;
  border: 0;
}
// .factory-banner.win-height {
//   .img {
//     width: 100%;
//   }
// }
.factory-banner.win-height .img {
  width: 100%;
  height: auto !important;
}

#header {
  max-width: 1230px;
  padding: 0 -50px;
}

.factory-banner .text-holder {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
  height: min-content;
  span {
    margin-bottom: 0;
    font-weight: 100;
  }
  h1 {
    font-weight: 300;
    margin: 0;
    &:after {
      display: none;
    }
  }
  &::after,&::before {
    display: none;
  }
}
.project {
  padding-bottom: 100px;
  background: #525763;
  .blog-img {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 15px;
    img {
      // width: 80%;
      margin: 0 auto;
    }
  }
  .blog-text {
    p {
      margin-top: 15px;
      font-weight: 400;
      color: #fff;
    }
  }
}
.my-contact {
  background: #fff;
  .text-holder h1,.text-holder em {
    color: #333;
  }
  .logo_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 180px;
    }
  }
  .contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
  }
}


@media only screen and (max-width: 767px) {
  #header {
    top: 16px;
  }
  .factory-banner .text-holder {
    margin: 0;
  }
  .intro .left-intro {
    margin: 0;
    max-width: none;
  }
  .navbar-default .navbar-toggle {
    border: none;
    .icon-bar {
      background: #fff;
    }
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background: none;
    span {
      background: #fec24c;
    }
  }
  #header .logo {
    display: flex;
    align-items: center;
    img {
      width: 100px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .factory-banner, .factory-banner.win-height{
    height: auto;
  }
  .factory-banner.win-height .img {
    width: 100%;
    height: auto !important;
    opacity: 0;
  }
  .factory-banner .item {
    background-position: center center;
    background-size: auto 100%;
    min-height: 463px;
  }
}
